<header class="navbar">
    <nav class="nav-container">
        <a href="/pages/inicio.html" class="nav-item">Início</a>

        <div class="dropdown">
            <button class="nav-item dropdown-btn" onclick="toggleDropdown()">Cadastro</button>
            <div id="dropdownMenu" class="dropdown-content">
                <a href="#" class="nav-item" onclick="abrirModalCadastroPaciente(event)">Paciente</a>
                <a href="../cadastro_imunizacao.html" class="nav-item">Imunização</a>
            </div>
        </div>

        <a href="/pages/sobre.html" class="nav-item">Sobre</a>
        <img class="logo" src="../img/logo.jpg" alt="Logo Vacina">
    </nav>
</header>