<div class="modal fade" id="modalConfirmarExclusaoImunizacoes" tabindex="-1" aria-labelledby="modalConfirmarExclusaoImunizacoesLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalConfirmarExclusaoImunizacoesLabel">Confirmar Exclusão de Imunizações</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <p id="mensagemConfirmacaoImunizacoes"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                <button type="button" class="btn btn-danger" id="btnConfirmarExclusaoImunizacoes">Sim</button>
            </div>
        </div>
    </div>
</div>